<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="(cc) 3con14" />
    <title>Listas Ordenadas y desordenadas</title>
</head>
<body>
    <h1>Listas Ordenadas básicas</h1>
    <ol>
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
    </ol>
    <h1>Listas Desordenadas básicas</h1>
    <ul>
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
    </ul>
    <hr>
    <h1>Listas Ordenadas alfabéticamente</h1>
    <ol type="a">
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
    </ol>
    <h1>Listas Ordenadas con números romanos</h1>
    <ol type="I">
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
    </ol>
    <h1>Listas Ordenadas al revés</h1>
    <ol type="A" reversed>
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
    </ol>
    <hr>
    <h1>Listas Desordenadas con circulos</h1>
    <ul type="circle">
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
    </ul>
    <h1>Listas Desordenadas con cuadraditos</h1>
    <ul type="square">
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
    </ul>
    <hr>
    <h1>Listas Anidadas</h1>
    <ul>
        <li>Lunes
            <ol>
                <li>ítem 01</li>
                <li>ítem 02
                    <ul type="square">
                        <li>ítem - 1</li>
                        <li>ítem - 2</li>
                    </ul>
                </li>
                <li>ítem 03</li>
            </ol>
        </li>
        <li>Martes
            <ol>
                <li>ítem 01</li>
                <li>ítem 02</li>
                <li>ítem 03</li>
            </ol>
        </li>
    </ul>
</body>
</html>

